.button{
    /*-fx-background-radius: 0;
    -fx-background-image: url("../../public/img/button.jpg") no-repeat center center;
    -fx-background-size:cover;*/

    /*设置背景颜色渐变*/
    -fx-background-color: linear-gradient(to bottom,#00fffc,#fff600);
    /*设置圆角*/
    /*-fx-background-radius: 25;
    -fx-border-radius: 25;*/
}
.button2:hover{
    -fx-background-color: linear-gradient(to bottom,#ee710c,#ee0c5a);
    /*-fx-background-radius: 25;
    -fx-border-radius: 25;*/
}