.button{
    -fx-background-radius: 0;
    -fx-background-image: url("../../public/img/button.jpg") no-repeat center center;
    -fx-background-size:cover;
}
.button2:hover{
    -fx-background-color: #00868B
}